extends layout

block append css

block append headContents
	link(href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet")
	link(rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/spacelab/bootstrap.min.css")

block content

	div(class="container" style="background-color: #00000")

		// header
		div(class="navbar-wrapper")
			div(class="navbar navbar-inverse navbar-static-top" role="navigation")
				div(class="navbar-header")
					a(class="navbar-brand" href="#")
						text "#{title}"
				div(style="float:right;")
					a(href="https://twitter.com/share" class="twitter-share-button") Tweet
		// header

		div(id="center_pane" style="float:left;")

			div(style="position:absolute;")
				// video canvas
				canvas(id="canvasForVideo" width="640" height="360" style="float:left;")
				// video canvas
			div(style="position:relative")
				// canvas
				canvas(id="canvas" width="640" height="360" style="float:left;")
				// canvas

			hr(class="featurette-divider")

			<!-- card selections -->
			div(id="card_selector" )
				div(id="monster_selector" class="btn-group" width="640")
					for value, key in ['goblin','skeleton','ork','vampire','golem','lich','demon','dragon']
						a(onclick="sendImage('#{value}')" class="btn btn-default" style="margin:2px")
							img(src="image/mandom/#{value}.JPG" width="50" height="80")
				br
				div(id="equipments_selector" class="btn-group" width="640")
					for equipment, key in ['you','knightShield','plateArmor','torch','holyGrail','vorpalSword','dragonLance']
						a(onclick="sendImage('#{equipment}')" class="btn btn-default" style="margin:3px")
							img(src="image/mandom/#{equipment}.JPG" width="60" height="100")

			br
			div(style="float: left;")
				text input mode
				br
				select(id="changeInputMode")
					option(value="normal") normal
					option(value="qrCode") QR code

			div(class="col-xs-4" id="inputArea")
				input(type="text" onkeydown="keyDown();" id="inputArea" class="form-control")
			div(style="float: left;")
				p(class="text-danger" id="message" style="font-size:18px;")
			a(onclick="sendCard()" class="btn btn-success btn-lg pull-right") Card Send

			div(style="clear:both;")
				div(id="image" width="300")
					span(style="color:#000;font-size:64px;")
						text 　
			// card selections

		// player entrance
		div(id="players")
			ul(class="nav nav-list col-xs-3")
				li(class="list-group-item")
					h4
						span(class="glyphicon glyphicon-user") PLAYERS
				for seatId, key in [0,1,2,3]
					li(class="list-group-item")
						div(class="input-group")
							input(type="text" onkeyup="keyUpPlayer(#{seatId});" id="inputPlayer#{seatId}" class="form-control" placeholder="Player #{seatId+1}")
							span(class="input-group-btn")
								button(class="btn" onClick="deletePlayer(#{seatId})") ×
		// player entrance

		// game progression
		div(class="btn-group-vertical")
			a(type="button" class="btn btn-Primary btn-lg col-xs-12 " style="text-align: left;" onclick="sendImage('pass')")
				span(class="glyphicon glyphicon-chevron-right")
				text pass
			a(type="button" class="btn btn-Primary btn-lg col-xs-12 " style="text-align: left;" onclick="sendImage('resetGame')")
				span(class="glyphicon glyphicon-chevron-right")
				text Reset Game
			a(type="button" class="btn btn-Primary btn-lg col-xs-12 " style="text-align: left;" onclick="sendImage('nextGame')")
				span(class="glyphicon glyphicon-chevron-right")
				text Next Game
		// game progression

		// 背景色
		div
			text back ground color
			br
			select(id="changeBackground")
				for num, key in ['camera','rgb(255, 255, 0)','rgb(255, 0, 255)','rgb(0, 255, 255)']
					option(value="#{num}") #{num}
		// 背景色

		// footer
		div(style="clear:both;")
			footer
				hr(class="featurette-divider")
				p(class="pull-right")
					a(href="#") Back to top
				p &copy; 2014 DWPC Tech. &middot;
					a(href="#") Privacy
					&middot;
					a(href="#") Terms
		// footer
		
		// sound
		div(id="id_sound" style="position:absolute; visibility:hidden")
			embed(id="id_sound" src="/music/cursor6.wav" autostart="true" hidden="true")
		// sound
		// video
		video(id="myVideo" height="360" style="visibility:hidden" autoplay="1")
		// video


	script.
		var hostAddress = "#{hostAddress}";
	script.
		!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');


block append afterScripts
	script(type='text/javascript', src='/socket.io/socket.io.js')
	script(src="/javascripts/mandomLive/video.js")
	script(src="/javascripts/mandomLive/client.js")
